@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url("./imgs/bg-intro-desktop.png");
    margin: 0;
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
}

section {
    width: 70%;
    display: flex;
    margin-top: 10%;
}

.center {
    display: flex;
    justify-content: center;
}

.left__content {
    margin-top: 70px;
}

.right__content {}

.left__content h1 {
    width: 70%;
    color: white;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 26px;
}

.left__content p {
    width: 85%;
    color: white;
    font-size: 16px;
}

.card {
    width: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 24px 22px 28px 22px;
}

.right__content .head {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    background-color: #5D54A3;
    margin-bottom: 18px;
    color: white;
    font-size: 12.0px;
}

.w4 {
    font-weight: 400;
}

.center h4 {
    margin-top: 10px;
}

input {
    width: 100%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 4px;
    outline-color: hsl(248, 32%, 49%);
    padding-left: 20px;
}

.spc {
    margin: 20px;
}

button {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #37CC89;
    color: white;
    font-weight: bold;
}

.card p {
    font-size: 9px;
    text-align: center;
    color: #D9D8DF;
}

.cRed {
    color: hsl(0, 100%, 74%);
    font-weight: bold;
}